* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #1d1d1d;
  color: #fff;
}

.nav-menu {
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  border-bottom: 2px solid #696969;
}

li a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  cursor: pointer;
  color: #696969;
  border-color: #696969;
  font-size: 1.5rem;
}

.main-section {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 3rem;
}

.single-movie {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 1rem;
  gap: 1rem;
  background-color: #282828;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.single-movie:hover {
  transform: translateY(-5px);
}

.image-pic {
  width: 100%;
}

.movie-title {
  font-weight: 900;
  font-size: 1.3rem;
}

.desc {
  display: flex;
  justify-content: space-around;
  align-shows: center;
}

.likes {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.likes i {
  color: #696969;
}

#comment-btn {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: 2px solid #696969;
  color: #696969;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}



#reservation-btn {
  width: 100%;
  padding: 0.5rem;
  background-color: #696969;
  color: #fff;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}


footer {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #fff;
  text-align: center;
}
